In [2]:
from datasets import load_dataset
from datasets import concatenate_datasets, DatasetDict
import evaluate
import nltk
from nltk.tokenize import sent_tokenize
from transformers import AutoModelForSeq2SeqLM
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import math

In [3]:
df_train=pd.read_csv('data/data_train_with_features.csv')
df_train.head()

,Unnamed: 0,classification,text,sentences,num_sentences,words,num_words,lemmas,stops,num_stops
0,0,Scientific,the interest in anchoring phenomena and phenom...,['the interest in anchoring phenomena and phen...,222,"['interest', 'anchoring', 'phenomena', 'phenom...",3533,"['interest', 'anchor', 'phenomenon', 'phenomen...","[the, in, and, in, has, been, by, their, in, a...",2426
1,1,Scientific,"galaxy clusters , as the largest peaks in the ...","['galaxy clusters , as the largest peaks in th...",372,"['galaxy', 'clusters', 'largest', 'peaks', 'co...",8982,"['galaxy', 'cluster', 'large', 'peak', 'cosmic...","[as, the, in, the, an, in, and, in, for, and, ...",5768
2,2,Scientific,quantum correlations between components of a s...,['quantum correlations between components of a...,138,"['quantum', 'correlations', 'components', 'sys...",2451,"['quantum', 'correlation', 'component', 'syste...","[between, of, a, or, are, on, the, of, whole, ...",1780
3,3,Scientific,methanol masers are often found in star - form...,['methanol masers are often found in star - fo...,141,"['methanol', 'masers', 'found', 'star', 'formi...",3232,"['methanol', 'maser', 'find', 'star', 'form', ...","[are, often, in, are, two, of, to, i, most, th...",1940
4,4,Scientific,interdisciplinary research has recently gained...,['interdisciplinary research has recently gain...,88,"['interdisciplinary', 'research', 'recently', ...",2695,"['interdisciplinary', 'research', 'recently', ...","[has, a, in, the, of, to, the, in, was, to, tw...",1997

In [4]:
def token_count(text):
    tokens = text.split()
    return len(tokens)

In [34]:
from transformers import PegasusForConditionalGeneration, PegasusTokenizer,AutoTokenizer,AutoModelForSeq2SeqLM
import torch
#model_name='facebook/bart-large-cnn'
model_name='google/flan-t5-large'
tokenizer = AutoTokenizer.from_pretrained(model_name)

Downloading:   0%|          | 0.00/2.54k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/792k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/2.42M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/2.20k [00:00<?, ?B/s]

In [152]:
import math

def adjust_length(text):
    length = token_count(text)
    if length < 80:
        min_length = length + int(length * 0.05)
        max_length = min_length + 50
    elif length < 100:
        min_length = length + int(length * 0.3)
        max_length = min_length + 100
    else:
        min_length = math.ceil(length / 50) * 70
        max_length = min_length + 100
    return min_length, max_length

In [36]:
def batch_sent(sentenc,splitt=180,split='. '):
    sentences = sentenc.split(split)
    # Erstellen Sie Batches von Sätzen, die weniger als 1024 Tokens enthalten
    batches = []
    batch = []
    batch_len = 0
    for sentence in sentences:
        
        sentence_len = len(tokenizer.tokenize(sentence))
        if sentence_len + batch_len > splitt:
            if sentence_len < splitt:  # überspringen Sie Sätze, die länger als 256 Tokens sind
                batches.append(batch)
                batch = [sentence]
                batch_len = sentence_len
            # wenn ein Satz alleine 1024 Tokens überschreitet, wird er übersprungen
        else:
            batch.append(sentence)
            batch_len += sentence_len
    batches.append(batch)
    return batches

In [86]:
from transformers import PreTrainedTokenizerFast
from tqdm import tqdm
import random
from transformers import pipeline
summarizer = pipeline("text2text-generation", model="facebook/bart-large-cnn")
#summarizer = pipeline("text2text-generation", model="facebook/bart-base")
#summarizer = pipeline("text2text-generation", model="t5-base")

In [64]:
df_s=df_train.loc[[500, 1000, 1500]]['text'].reset_index(drop=True)

In [50]:
df_s.head()

0    The Administration of Union Territory Daman an...
1    This sound track was beautiful! It paints the ...
Name: text, dtype: object

In [42]:
df_s

0    The Administration of Union Territory Daman an...
1    This sound track was beautiful! It paints the ...
2    PART I\n\nIf you don't like Christmas stories,...
Name: text, dtype: object

In [120]:

def paraphrase_of_text(df_s,komp=1):
    counter = 0
    df_summary_testing = pd.DataFrame(columns=['Min_Kompressionsrate', 'Max_Kompressionsrate', 'Endgueltige_Kompressionsrate', 'Zusammenfassung','länge Zusammenfassung','länge Ausgangstext'])
    # Teilen Sie den Text in Sätze --> für tatsächliche umsetzubng
    soplitting=True
    for text in tqdm(df_s):
        text_gesamt_list=[]
        if soplitting:
            split=' .'
        else:
            split='. '
        for batch in tqdm(batch_sent(text,split=split), desc='Verarbeite Batches'):
            # Zusammenfügen der Sätze in einem Batch
            batch_text = '. '.join(batch)
            min_length_test, max_length_test = adjust_length(batch_text)
            ext_summary=summarizer(batch_text, max_length=int(round(max_length_test,0)), min_length=int(round(min_length_test,0)),length_penalty=100,num_beams=2)
            # Erstellen Sie einen DataFrame für die aktuellen Ergebnisse
            text_gesamt_list.append(ext_summary[0]['generated_text'])
        text_gesamt = '. '.join(text_gesamt_list)
        actual_compression_rate = len(text_gesamt.split(' '))/len(text.split(' '))*100
      
        df_current = pd.DataFrame({
            'Min_Kompressionsrate': [min_length_test],
            'Max_Kompressionsrate': [max_length_test],
            'Endgueltige_Kompressionsrate': [actual_compression_rate],
            'Zusammenfassung': [text_gesamt],
            'länge Zusammenfassung': [len(text_gesamt.split(' '))],
            'länge Ausgangstext': [len(text.split(' '))]
        
        })

        # Fügen Sie die Daten zum DataFrame hinzu
        df_summary_testing = pd.concat([df_summary_testing, df_current], ignore_index=True)
        counter += 1
        soplitting=False
    return df_summary_testing
    # Wenn der Zähler ein Vielfaches von 50 ist, speichern Sie die Daten in einer CSV-Datei
    # if counter % 50 == 0:
    #     df_summary_testing.to_csv(f'/content/df_summary_testing_{counter}.csv', index=False)

In [141]:
def paraphrase_of_text(df_s,text_name='text',komp_name='reduction_multiplier'):
    counter = 0
    df_summary_testing = pd.DataFrame(columns=['text', 'Zusammenfassung','Min_Kompressionsrate', 'Max_Kompressionsrate', 'Endgueltige_Kompressionsrate','länge Zusammenfassung','länge Ausgangstext'])
    # Teilen Sie den Text in Sätze --> für tatsächliche umsetzubng
    soplitting=True
    for _, row in tqdm(df_s.iterrows(), total=df_s.shape[0]):
     
        text = row[text_name]
        komp = row[komp_name]
        text_gesamt_list=[]

        if soplitting:
            split=' .'
        else:
            split='. '
        for batch in tqdm(batch_sent(text,split=split), desc='Verarbeite Batches'):
            # Zusammenfügen der Sätze in einem Batch
            batch_text = '. '.join(batch)
            min_length_test, max_length_test = adjust_length(batch_text)
            ext_summary=summarizer(batch_text, max_length=int(round(max_length_test*komp,0)), min_length=int(round(min_length_test*komp,0)),length_penalty=100,num_beams=2)
            # Erstellen Sie einen DataFrame für die aktuellen Ergebnisse
           
            text_gesamt_list.append(ext_summary[0]['generated_text'])
        text_gesamt = '. '.join(text_gesamt_list)
        actual_compression_rate = len(text_gesamt.split(' '))/len(text.split(' '))*100
      
        df_current = pd.DataFrame({
            'text':[text],
            'Zusammenfassung': [text_gesamt],
            'Min_Kompressionsrate': [min_length_test],
            'Max_Kompressionsrate': [max_length_test],
            'Endgueltige_Kompressionsrate': [actual_compression_rate],
            'länge Zusammenfassung': [len(text_gesamt.split(' '))],
            'länge Ausgangstext': [len(text.split(' '))]
        
        })
       
        # Fügen Sie die Daten zum DataFrame hinzu
        df_summary_testing = pd.concat([df_summary_testing, df_current], ignore_index=True)
        counter += 1
        soplitting=False
    return df_summary_testing

In [90]:
def count_tokens(df):
    df['token_count'] = df['text'].apply(lambda x: len(str(x).split()))
    return df

In [91]:
df_test = count_tokens(pd.DataFrame(df_s))

In [96]:
def calculate_compression(df, total_tokens_col, current_tokens_col, desired_compression_rate):
    df['current_compression_rate'] = df[current_tokens_col] / df[total_tokens_col]
    df['compression_difference'] = desired_compression_rate - df['current_compression_rate']
    df['reduction_multiplier'] = desired_compression_rate / df['current_compression_rate']
    return df

# Beispiel der Verwendung
df_testung = pd.DataFrame({
    'total_tokens': [1000, 2000, 3000],
    'current_tokens': [800, 1500, 2500]
})
desired_compression_rate = 0.7

df_testung = calculate_compression(df_testung, 'total_tokens', 'current_tokens', desired_compression_rate)
df_testung

,total_tokens,current_tokens,current_compression_rate,compression_difference,reduction_multiplier
0,1000,800,0.800000,-0.100000,0.875000
1,2000,1500,0.750000,-0.050000,0.933333
2,3000,2500,0.833333,-0.133333,0.840000

In [99]:
df_test['total_tokens']=df_test['token_count'].apply(lambda x: round(x * 1.1))

In [100]:
df_test

,text,token_count,total_tokens
0,The Administration of Union Territory Daman an...,60,66
1,This sound track was beautiful! It paints the ...,75,82
2,"PART I\n\nIf you don't like Christmas stories,...",5499,6049

In [144]:
df_test=calculate_compression(df_test, 'total_tokens', 'token_count', desired_compression_rate)

In [132]:
df_test['reduction_multiplier']=1

In [145]:
df_test[['text','reduction_multiplier']]

                                                text  reduction_multiplier
0  The Administration of Union Territory Daman an...              0.770000
1  This sound track was beautiful! It paints the ...              0.765333
2  PART I\n\nIf you don't like Christmas stories,...              0.770013

In [153]:
df_summary_testing_3=paraphrase_of_text(df_test[['text','reduction_multiplier']])

Verarbeite Batches: 100%|██████████| 1/1 [00:04<00:00,  4.83s/it]
Verarbeite Batches: 100%|██████████| 1/1 [00:06<00:00,  6.59s/it]
Verarbeite Batches: 100%|██████████| 54/54 [08:33<00:00,  9.51s/it]
100%|██████████| 3/3 [08:44<00:00, 174.92s/it]

In [118]:
df_summary_testing_2

,Min_Kompressionsrate,Max_Kompressionsrate,Endgueltige_Kompressionsrate,Zusammenfassung,länge Zusammenfassung,länge Ausgangstext
0,63,163,75.000000,The administration was forced to withdraw the ...,45,60
1,78,178,88.000000,This sound track was beautiful! It paints the ...,66,75
2,107,207,63.538175,"After five blustering, wintry weeks of village...",3412,5370

In [154]:
df_summary_testing_3

,Min_Kompressionsrate,Max_Kompressionsrate,Endgueltige_Kompressionsrate,Zusammenfassung,länge Zusammenfassung,länge Ausgangstext
0,63,113,75.000000,The administration was forced to withdraw the ...,45,60
1,78,128,88.000000,This sound track was beautiful! It paints the ...,66,75
2,127,227,76.945996,"After five blustering, wintry weeks of village...",4132,5370

In [93]:
df_summary_testing

,Min_Kompressionsrate,Max_Kompressionsrate,Endgueltige_Kompressionsrate,Zusammenfassung
0,63,163,100.000000,The Administration of Union Territory Daman an...
1,78,178,100.000000,This sound track was beautiful! It paints the ...
2,63,163,100.000000,The Administration of Union Territory Daman an...
3,78,178,100.000000,This sound track was beautiful! It paints the ...
4,63,163,100.000000,The Administration of Union Territory Daman an...
5,78,178,100.000000,This sound track was beautiful! It paints the ...
6,107,207,105.567970,And one or two other oldish persons. But they ...
7,63,163,148.333333,its order that made it compulsory for women to...
8,78,178,60.000000,vid. game music! vid. game music! This sound t...
9,107,207,107.635009,the Twilight of Christmas Eve. the Twilight of...
10,63,163,101.666667,its order that made it compulsory for women to...
11,78,178,52.000000,vid. game music! vid. game music! This sound t...
12,107,207,51.545624,the Twilight of Christmas Eve. the Twilight of...

In [ ]:
df_summary_testing

In [78]:
df_s[0]

'The Administration of Union Territory Daman and Diu has revoked its order that made it compulsory for women to tie rakhis to their male colleagues on the occasion of Rakshabandhan on August 7. The administration was forced to withdraw the decision within 24 hours of issuing the circular after it received flak from employees and was slammed on social media.'

In [80]:
df_summary_testing[7:8]['Zusammenfassung'][7]

'its order that made it compulsory for women to tie rakhis to their male colleagues on the occasion of Rakshabandhan on August 7 . The administration was forced to withdraw the decision within 24 hours after receiving flak from employees and was slammed on social media . Daman and Diu has revoked its order that made it compulsory for women to tie rakhis to their male colleagues on the occasion of Rakshabandhan on August 7. The administration was forced to withdraw the decision after receiving fla   '

In [59]:
df_s
len(df_s[0].split(' '))

17179

In [76]:
len(df_summary_testing['Zusammenfassung'][4].split(' '))

15104

In [77]:
15104/17179*100

87.9212992607253

In [35]:
text=df_s[0]

In [40]:
batch_sent(text,split=' .')[0]

['galaxy clusters , as the largest peaks in the cosmic density field , play an important role in astrophysics and cosmology ( e.g. * ? ? ?* ; * ? ? ?structure formation theory , realized in large scale n - body simulations , makes robust predictions for cluster space density and clustering within various cosmological models',
 ' since clusters are also the most observationally accessible features of large scale structure , they provide an opportunity to place strong constraints on both cosmological parameters and the growth of structure',
 'the great challenge of cluster cosmology lies in confidently relating the dark matter halos we can robustly predict to the baryonic structures we observe',
 'substantial work is being done to close the gap between theory and observations from both sides',
 'on the theory side , numerical simulations of ever increasing complexity and resolution provide new insights into the evolution of baryons within clusters , and to elucidate the connection between cluster galaxies and dark matter substructure @xcite',
 'observationally , much work is being done to assemble large samples of clusters detected and observed in a wide variety of ways',
 'this is possible because galaxy clusters provide a rich suite of observables',
 'optical light is emitted by individual cluster galaxies as well as intracluster stars',
 'x - rays are emitted by both the hot intracluster medium ( icm ) and agn within cluster galaxies']

In [41]:
batch_text = '. '.join(batch_sent(text,split=' .')[0])

In [42]:
min_length_test, max_length_test = adjust_length(batch_text)

In [43]:
min_length_test

250

In [ ]:
summarizer(batch_text, max_length=max_length_test, min_length=min_length_test,length_penalty=100,num_beams=2)

In [66]:
import nltk
import math

def check_compression_rate(original_text, filtered_text, compression_rate):
    # Tokenize the texts
    original_tokens = nltk.word_tokenize(original_text)
    filtered_tokens = nltk.word_tokenize(filtered_text)

    # Calculate the expected number of tokens in the filtered text
    expected_tokens = len(original_tokens) * compression_rate

    # Calculate the acceptable range of token counts
    min_tokens = expected_tokens * 0.95
    max_tokens = expected_tokens * 1.05

    # Check if the number of tokens in the filtered text is within the acceptable range
    if min_tokens <= len(filtered_tokens) <= max_tokens:
        return True
    else:
        return math.ceil(min_tokens), math.floor(max_tokens)  # round up for min and down for max

In [63]:
result = check_compression_rate(original_text, filtered_text, compression_rate)

if result == True:
    print("The filtered text is within the acceptable compression range.")
else:
    min_tokens, max_tokens = result
    print(f"The filtered text is not within the acceptable compression range. It should have between {min_tokens} and {max_tokens} tokens.")

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /var/folders/k3/z_svrdgd6sb9lc9bqdfzp_k00000gn/T/ipykernel_35943/3855289726.py:1 in <module>     │
│                                                                                                  │
│ [Errno 2] No such file or directory:                                                             │
│ '/var/folders/k3/z_svrdgd6sb9lc9bqdfzp_k00000gn/T/ipykernel_35943/3855289726.py'                 │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
NameError: name 'original_text' is not defined

In [67]:
for text in df_s:
    result =check_compression_rate(text, text, 0.8)
    if result == True:
        print("The filtered text is within the acceptable compression range.")
    else:
        min_tokens, max_tokens = result
        print(f"The filtered text is not within the acceptable compression range. It should have between {min_tokens} and {max_tokens} tokens.")

The filtered text is not within the acceptable compression range. It should have between 13497 and 14917 tokens.
The filtered text is not within the acceptable compression range. It should have between 48 and 52 tokens.
The filtered text is not within the acceptable compression range. It should have between 62 and 68 tokens.
The filtered text is not within the acceptable compression range. It should have between 5371 and 5936 tokens.